* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 39%, rgba(0,212,255,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body {
    font-size: 24px;
    font-family: 'monospace';
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

#app {
    height: fit-content;
    width: 100%;
    padding-bottom: 1em;
    overflow-x: hidden;
    position: relative;
    display: flex;
}

.input {
    font-size: 1.8rem;
    width: 100%;
    text-align: center;
    margin-bottom: 0.8rem;
}

.button {
    font-size: 1.8rem;
    margin: 0 auto;
    width: 100%;
    display: block;
    cursor: pointer;
    background-color: #0f12a3;
    border: 1px solid #0f12a3;
    border-radius: 4px;
    color: #f5f5f5;
    transition: 0.2s all ease;
    padding: 0.4em;
    &:hover {
        background-color: #090b79;
        border: 1px solid #090b79;
    }
}

#results {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        h3 {
            text-transform: capitalize;
        }
    }
}

.main {
    position: relative;
    z-index: 1000;
    width: 900px;
    height: fit-content;
    min-height: 90%;
    margin: 0 auto;
    padding: 0.8rem;
    background-color: #262626;
    color: #ebebeb;
    border-radius: 4px;
    padding-bottom: 2.5em;

    .results_image {
        display: block;
        width: 50%;
        margin: 0 auto;
        border-radius: 4px;
    }

    h1,
    h3 {
        text-align: center;
    }
}

h1,
h2,
h3,
h4,
p,
form,
ul,
li,
img,
.main_nav {
    margin-bottom: 0.4em;
}

.animated_fish {
    z-index: 0;
    width: 100%;
    position: absolute;
    bottom: 2em;
    left: -4em;
}

.main_nav {
    display: flex;
    justify-content: space-around;
    a {
        padding: 1em;
        background-color: #f0f0f0;
        border: 4px solid #262626;
        border-radius: 10px;
        width: 10%;
        transition: 0.2s all ease;
        img {
            width: 100%;
            margin: 0;
        }
        &:hover {
            border: 4px solid #2c2cff;
            cursor: pointer;
        }
    }
}

#map {
    margin: 1em 0 1em;
    height: 400px;
}

.content_inner {
    h2 {
        text-align: center;
    }
    padding: 0.2em 0.4em;
    #catch_list {
        tbody {
            tr:nth-child(odd) {
                background-color: #b4bbff;
                color: #141414;
            }
            tr:nth-child(even) {
                background-color: #f5f5f5;
                color: #141414;
            }
        }
        th,
        td {
            padding: 0.3em;
        }
        font-size: 1.2rem;
        th {
            text-align: left;
            &.sortable:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }
        width: 100%;
        margin: 0 auto;
    }

    .img_wrapper {
        height: 250px;
        display: block;
        margin: 0 auto;
        width: 50%;
        img {
            height: 100%;
            width: auto;
            margin: 0 auto;
            display: block;
        }
    }

    .info {
        padding-top: 1em;
        text-align: center;
    }
}

#flashmessage {
    text-align: center;
    padding: 0.4em 0.2em 0.2em;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    font-size: 1rem;
    z-index: 9999999;
    border: 1px solid #313131;
}

.slide {
    -webkit-animation: slide 3s forwards;
    animation: slide 3s forwards;
}

@-webkit-keyframes slide {
    10% { left: 0; }
    90% { left: 0; }
    100% { left: -100%; }
}

@keyframes slide {
    10% { left: 0; }
    90% { left: 0; }
    100% { left: -100%; }}

.success {
    background-color: #37d137;
    color: #000;
}

.error {
    background-color: #ff1f1f;
    color: #000;
}

.irs--round {
    width: 95%;
    display: block;
    margin: 0 auto;
}

.irs-max,
.irs-min,
.irs-from,
.irs-to {
    display: none !important;
}

.filters {
    label {
        font-size: 0.5em;
        margin-left: 2.5%;
    }
}

.header_logo {
    padding: 0.5em;
    width: 100%;
    border: 1px solid #fff;
    border-radius: 10px;
    margin-bottom: 1em;
    text-align: center;
    img {
        width: 50px;
        margin: 0;
        vertical-align: bottom;
    }
}

@media (max-width: 900px) {
    #app {
        padding: 0;
    }

    .main {
        margin: 0 auto;
        border-radius: 0;
        min-height: 100vh;
    }

    .main_nav {
        a {
            width: 15%;
        }
    }
}

@media (max-width: 800px) {
    .content_inner {
        padding: 0;
        #catch_list {
            table, thead, tbody, td, tr { 
                display: block; 
            }
    
            thead {
                tr {
                    display: flex;
                    flex-flow: wrap;
                    justify-content: space-between;
                    th {
                        width: 28%;
                        text-align: right;
                        font-size: 1rem;
                        margin-right: 5%;
                    }
                }
            }
    
            td {
                position: relative;
                padding: 0.3em 0.3em 0.3em 40%;
                border: 1px solid #464646;
            }
    
            td:before { 
                position: absolute;
                top: 6px;
                left: 6px;
                width: 25%; 
                padding-right: 10px; 
                white-space: nowrap;
            }
    
            td:nth-of-type(1):before { content: "Date"; }
            td:nth-of-type(2):before { content: "Location"; }
            td:nth-of-type(3):before { content: "Species"; }
            td:nth-of-type(4):before { content: "Length"; }
            td:nth-of-type(5):before { content: "Weight"; }
            td:nth-of-type(6):before { content: "User"; }
        }
    }
}

@media (max-width: 650px) {
    body {
        font-size: 1.2rem;
    }

    .main {
        width: 100%;
        .results_image {
            width: 100%;
        }
    }

    .content_inner {
        .img_wrapper {
            width: 100%;
            img {
                max-width: 100%;
            }
        }
    }

    .main_nav {
        a {
            width: 20%;
        }
    }
}

#map.full_height {
    height: 700px;

    img {
        width: 150px;
        height: auto;
    }
}

#footer {
    position: absolute;
    bottom: 0;
    padding-bottom: 0.8em;
    width: 100%;
    p {
        text-align: center;
    }
    font-size: 0.8em;
}

#userInfo {
    font-size: 0.7em;
}

.leaflet-popup-content {
    p {
        margin: 8px 0 !important;
    }

    .editButtons {
        display: flex;
        justify-content: space-between;

        button {
            width: 48%;
            height: 2.4em;
            cursor: pointer;
        }
    }
}

#preview_image {
    width: 40%;
    margin-bottom: 0.4em;
}

.infoPara {
    text-align: center;
    margin-top: 1em;
}

#uploadImage {
    padding: 1em 0;
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
}

#uploadImageLabel,
#add_button_location {
    display: block;
    font-size: 1.8rem;
    width: 100%;
    text-align: center;
    margin-bottom: 0.8rem;
    background: #fff;
    color: #000;
    border-radius: 2px;
    border: 1px solid #818181;
    &:hover {
        background: #e6e6e6;
    }
}

#add_input_date,
#uploadImageLabel,
#add_button_location {
    cursor: pointer;
}

a {
    cursor: pointer;
    text-decoration: underline;
}